@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;

$bg:#161819;

$accent:#7560ef;
$text:#fafafa;
$secondary :radial-gradient(circle, rgba(29,171,215,1) 58%, rgba(26,205,213,1) 88%);

$heading:'Montserrat', sans-serif;
// $heading:'Poppins', sans-serif;
$body:'Roboto', sans-serif;



